<%@articles.each do |article|%>
  <div class="py-3 border-bottom">
    <h1 class="title fs-3"><%=link_to article.title, article_path(article), style: "text-decoration: none;"%></h1>
    <p class="fs-5"><%=article.content[0..70]%> ...</p>
  </div>
<%end%>
