<div class="d-flex justify-content-between">
  <h1 class="fs-2 border-bottom py-3 text-body"><%=@article.title%></h1>
  <div>
  <%=link_to "âœï¸", edit_article_path, style:"text-decoration: none;"%>
  <%=link_to "ðŸ—‘", article_path(@article), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"text-decoration: none;"%>
  </div>
</div>
<p class="fs-5 text-muted"><%=@article.content%></p>
